<h1>Anonymous Quotes</h1>

<table>
  <% @quotes.each do |quote| %>
    <tr>
      <td><i>"<%= quote.citation %>"</i></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add new quote', new_quote_path %>
