<h1>Add new quote</h1>
<%= form_with scope: :quote, url: quotes_path, local: true do |form| %>
  <p>
    <%= form.label :new_quote %><br>
    <%= form.text_area :citation %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
